/* red */
/* gray */
/* - #1885a6 */
/* blue buttons */
/* tan */
/* blue links */
/* gray */
/* line 12, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
body {
  color: #5a5a5a;
  line-height: 1.6;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 17px; }

/* line 18, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
h1, h2, h3, h4, h5 {
  color: #e03031;
  font-family: Georgia, serif;
  font-weight: normal; }

/* line 23, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
h1 {
  font-size: 2.7em; }

/* line 26, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
h2 {
  font-size: 1.7em; }

/* line 29, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
a {
  color: #05a6cc;
  text-decoration: none; }

/* line 33, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
header, article, #accordion, footer {
  padding: 40px; }

/* line 37, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
header > p {
  font-size: 1.3em;
  padding-bottom: 21px; }

/* line 41, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
header .teaser_content {
  color: #FFF;
  position: absolute;
  bottom: 337px;
  left: 200px; }

/* line 47, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
header p.teaser_title {
  font-size: 2.2em;
  font-family: Georgia, serif; }

/* line 51, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
header .teaser_text {
  width: 34%; }

/* line 56, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
nav ul {
  margin-top: 26px; }

/* line 59, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
nav li {
  float: left;
  height: 60px;
  margin-right: 2%;
  width: 23.5%; }
  /* line 64, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
  nav li:last-child {
    margin-right: 0; }

/* line 68, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
nav a:link, nav a:visited {
  background-image: url("../icons/arrow.svg");
  background-position: 95% center;
  background-size: 13px auto;
  background-repeat: no-repeat;
  background-color: #e3e3e2;
  box-sizing: border-box;
  color: #5A5A5A;
  font-size: 0.9em;
  display: block;
  height: 100%; }

/* line 81, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
img {
  width: 100%; }

/* line 84, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
article, footer {
  background: #f5f2ea; }

/* line 87, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
.max-width {
  max-width: 905px;
  margin: 0 auto; }

/* line 91, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
.left {
  float: left;
  padding-right: 10%; }

/* line 95, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
.right {
  box-shadow: 2px 2px 4px #ddd;
  float: right;
  margin-left: 10%;
  border: 3px solid white; }

/* line 101, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
.photograph {
  width: 40%; }

/* line 104, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
.thumb {
  width: 170px;
  padding-top: 55px; }

/* line 109, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
footer ul {
  padding-top: 10px; }

/* line 112, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
footer li {
  font-size: 0.8em;
  line-height: 2.2em; }

/* line 117, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
.label {
  text-transform: uppercase;
  font-size: 0.8em;
  margin-bottom: -8px; }

/* line 122, /Users/jonandmel/Documents/JONS WEB DESIGN/GitHub/fed-test/style/style.scss */
.clearfix {
  overflow: auto;
  zoom: 1; }

/*# sourceMappingURL=style.css.map */