$primary-color: #e03031; /* red */
$body-color: #5a5a5a; /* gray */
$buttons: #24b7f3; /* - #1885a6 */  /* blue buttons */
$bground: #f5f2ea; /* tan */
$links: #05a6cc; /* blue links */
$menu_background: #e3e3e2; /* gray */
$menu_foreground: #989898;
$faq_background: #eeeeee;

body {
    color: $body-color;
    line-height: 1.6;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
}
h1, h2, h3, h4, h5 {
    color: $primary-color;
    font-family: Georgia, serif;
    font-weight: normal;
}
h1 {
    font-size: 2.7em;
}
h2 {
    font-size: 1.7em;
}
a {
    color: $links;
    text-decoration: none;
}
header, article, #accordion, footer {
    padding:40px;
}
header > p {
    font-size: 1.3em;
    padding-bottom: 21px;
}
img {
    width: 100%;
}
article, footer {
    background: $bground;
}
.max-width {
    max-width: 905px;
    margin: 0 auto;
}
/*.content {
    width: 40%;
}*/
.left {
    float: left;
    padding-right: 10%;
}
.right {
    float: right;
    padding-left: 10%;
}
.photograph {
    width: 40%;
}
.thumb {
    width: 170px;
    padding-top: 55px;
}