// bower:scss
// endbower



@import "variables";
@import "mixins";




//Generic Styles...

::selection{
    background-color:$red;
    color:white;
    text-shadow:none;
}

*, *:after, *:before{
    box-sizing:border-box;
}

body{
    background:white;
    color:$color_main_fg;
    font-family:$font-sans;
    font-size:16px;
    line-height: 1.5em;
}


h1,h2,h3,h4,h5,h6{
    font-family:$font-serif;
    font-weight:normal;
}

h1,h2{
    color:$red;
}

a, a:visited, .faq dt{
    color:$blue;
    text-decoration: none;
}

a:hover, a:active, .faq dt:hover, .faq dt:active, .faq dt:active:after, .faq dt:hover:after{
    color:$red;
}

ul, ol, dl{
    margin:0;
    padding:0;
}

li, dt, dd{
    list-style: none;
    margin:0;
    padding:0;
}



// End Generic, Start Specific //
header {
    h1{
        margin-bottom:0.25em;
    }
    small{
        font-size:1.15em;
    }
}




.wrapper{
    padding:$page_gutter;
}


.steps, .resources-wrapper, .faq dd, .faq dt{
    background-color:$tan;

}

// degrade: cssgradients
a.button{
    border-radius:5px;
    color:white;
    background: linear-gradient($button_color_0, $button_color_1);
    display:inline-block;
    font-size:85%;
    margin:0.5em 0;
    padding:0.5em 1em;
    &:hover{
        background: linear-gradient(lighten($button_color_0,5%), lighten($button_color_1,5%));
    }
}

// degrade: font-face, generatedcontent
.video-thumb{
    display:inline-block;
    height:90px;
    position:relative;
    &:after{
        color:white;
        content:"\f104";
        display:block;
        font-family:"fedtest-icons";
        font-size:2em;
        left:0;
        line-height:90px;
        position:absolute;
        right:0;
        text-align:center;
        text-shadow:3px 3px 3px $grey;
        top:0;
        vertical-align:middle;
    }
    &:hover:after{
        color:$grey;
    }
}


// Degrade: backgroundsize, text-shadow
#fold_wrapper {
    > *{
        margin-bottom:1.5em;
    }
    .hero{
        background:$grey url(../images/hero1-desktop.jpg) right center no-repeat scroll;
        background-size:cover;
        min-height:100%;
        padding:10%;

        h2{
            font-size:250%;
            line-height:1em;
            max-width:45%;
        }
        p{
            max-width:30%;
        }
        h2,p{
            color:white;
            text-shadow:3px 3px 3px darken($grey, 15%);
        }
    }
}

// Degrade: flexbox, fontface, transform, generatedcontent
#main_nav{
    ul{
        align-items:center;
        display:flex;
        justify-content:space-between;

        li{
            background-color:#e3e3e3;
            flex-grow:1;
            list-style: none;
            margin-right:1em;
            position:relative;


            &:last-child{
                margin-right:0;
            }

            a{
                color:$grey;
                display:table-cell;
                height:75px;
                padding:0 50px 0 75px;
                text-align: left;
                vertical-align: middle;
                width:250px;
                &:before,&:after{
                    display:block;
                    font-family:"fedtest-icons";
                    position:absolute;
                    text-align:center;
                    top:0;
                    line-height:75px;
                    vertical-align:middle;
                    width:75px;
                }
                &:before{
                    left:0;
                    font-size:50px
                }

                &:after{
                    content:"\f101";
                    right:1em;
                    text-align:right;
                }
                &:hover, &:active{
                    color:lighten($grey, 15%);
                    &:before{
                        transform: scale(1.1);

                    }
                }

            }
        }
    }
}

.steps{

    small{
        color:$color_main_fg;
        font-family:$font-sans;
        font-size:50%;
        display:block;
        text-transform: uppercase;
    }

    .step{
        margin-bottom:3em;
    }


    .links{
        overflow:hidden;
        li{
            @include clearfix();
            float:left;
            margin-right:1.5em;
            img{
                border:1px solid #cacaca;
            }
        }
    }
}

// Degrade: fontface (optional), transform(optional), animations(optional), generatedcontent
.faq {
    dt{
        cursor:pointer;
        margin-top:0.5em;
        padding:0.5em 3em 0.5em 0.5em;
        position:relative;
        &:first-child{
            margin-top:0;
        }
        &:after{
            color:$grey;
            content:"\f101";
            font-family:"fedtest-icons";
            position:absolute;
            right:1em;
            text-align:right;
            transform:rotate(0);
            animation:turn-down-undo $animation-slide-time ease-in-out;
            vertical-align:middle;
        }
        &.expanded:after{
            animation:turn-down $animation-slide-time ease-in-out;
            transform:rotate(90deg);
        }
    }

    dd{
        overflow:hidden;
        padding:0 0.5em;

        &.collapse{
            animation: slideClose $animation-slide-time ease-in-out;
            height:auto;
            max-height:0;
        }
        &.expanded{
            animation: slideOpen $animation-slide-time ease-in-out;
            padding-bottom:0.5em;

        }
    }
}


.resources{
    li{
        font-size:85%;
        padding:0.5em 0;
    }
}




//// Responsive Defs \\\

// All phones and (PH|T)ablets
@media screen and (max-width:$mq_tablet_end){
    #fold_wrapper .hero{
        > h2, > p{
            max-width: 100%;
        }
    }

    #main_nav ul li a {
        @include hide-text();
        display:block;
        padding:0;
        width:0;
        &:after{
            display:none;
            width:0;
        }
        &:before{
            display:block;
            overflow:hidden;
            text-align:center;
            text-indent:0;
            width:100%;
        }
    }

}





// All Desktops

// Degrade: box-shadow (optional), transform (optional), background-size
@media screen and (min-width: $mq_tablet_end+1){

    #main_nav a{
        font-size:85%;
        line-height:1.25em;
    }

    .steps{
        overflow:hidden;

        .step{
            min-height:300px;
            position:relative;


            &:after, &:before{
                box-shadow:3px 3px 3px 3px lighten($grey, 25%);
                border:10px solid white;
                content:"";
                display:block;
                height:300px;
                position:absolute;
                transform:scale(.85);
                top:0;
                width:450px;
            }

            &:nth-child(odd){
                padding-right:500px;
                &:after{
                    right:$page_gutter;
                }
                &:before{
                    display:none;
                }
            }

            &:nth-child(even){
                padding-left:500px;
            }
        }

        .step1:after{
            background:transparent url("../images/family-book.jpg") right top no-repeat scroll;
            background-size:cover;
        }

        .step2:before, .step2:after{
            background:transparent url("../images/rotated.jpg") left top no-repeat scroll;
            background-size:cover;
            left:0;
        }

        .step2:before{
            transform:scale(.85)rotateZ(-3deg);
        }

        .step2:after{
            transform:scale(.85)rotateZ(3deg);
        }

        .step3:after{
            background:transparent url("../images/family-temple.jpg") right top no-repeat scroll;
            background-size:cover;
        }
    }

    .resources-wrapper{
        background:$tan url(../images/family-line.jpg) 95% center no-repeat scroll;
        min-height:350px;
    }


}


// Mobile in Portrait Only
@media screen and (max-width:$mq_phone_portait_end){
    #main_nav ul li a:before{
        font-size:32px;

        // line-height:1.25em;
    }
}




// Mobile Only
@media screen and (max-width:$mq_phone_end){
    .steps .links li {
        float:none;
        margin-bottom:1em;
    }


}



// (PH|T)ablet Only
@media screen and (min-width: $mq_phone_end+1) and (max-width:$mq_tablet_end){}


// Small Desktop only
@media screen and (min-width: $mq_tablet_end+1) and (max-width:$mq_small_end){
    #main_nav a{
        font-size:75%;
        line-height:1.25em;
    }

}

// Big o' Desktops Only
@media screen and (min-width: $mq_normal_end + 1){
    #main_nav a{
        font-size:100%;
    }

    .wrapper > *{
        margin-left:auto;
        margin-right:auto;
        width:$mq_normal_end - 50;
    }
}



////// Animations \\\\\\\
// animating auto height:
// http://stackoverflow.com/questions/3508605/css-transition-height-0-to-height-auto

// Degrade: keyframes/cssanimations (duh) (optional)
@keyframes slideOpen {
    0%{ max-height:0; opacity:0; }
    20%{ max-height:0; }
    80%{ max-height:1000px; padding-top:1em;  }
    100%{ max-height:1000px; opacity:1; }
}

@keyframes slideClose {
    0%{ max-height:1000px; opacity:1; }
    20%{ max-height:1000px; padding-top:1em;  }
    80%{ max-height:0; }
    100%{ max-height:0; opacity:0; }
}

@keyframes turn-down {
    0%{transform:rotate(0deg); }
    15%{transform:rotate(-15deg); }
    80%{transform:rotate(105deg); }
    100%{transform:rotate(90deg); }
}

@keyframes turn-down-undo {
    0%{transform:rotate(90deg); }
    15%{transform:rotate(105deg); }
    80%{transform:rotate(-15deg); }
    100%{transform:rotate(0deg); }
}


// For sad people
.browsehappy {
    background: $red;
    color: white;
    font-size:1.2em;
    line-height: 1em;
    margin: 0.5em auto;
    padding: 1em;
    text-align: center;
    // width:100%;
    a{
        color:white;
        text-decoration: underline;
    }
}


