@font-face {
    font-family: 'church';
    src: url('../fonts/church.ttf?ow1r3n') format('truetype'), url('../fonts/church.woff?ow1r3n') format('woff'), url('../fonts/church.svg?ow1r3n#church') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    overflow: hidden;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #5a5a5a;
    background-color: #fff;
}

body {
    overflow-y: scroll;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

* {
    box-sizing: border-box;
}

a {
    display: block;
    color: #05a6cc;
    text-decoration: none;
    cursor: pointer;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: top;
    border: 0;
}

h1 {
    font-family: Georgia, serif;
    font-size: 3rem;
    color: #e03031;
    padding-bottom: 1rem;
}

h2 {
    font-family: Georgia, serif;
    font-size: 2.5rem;
    color: #e03031;
    padding-bottom: 1rem;
    text-align: left;
}

small {
    display: block;
    padding-top: .25em;
    font-size: .5em;
    color: #5a5a5a;
}

#teaser-1 {
    position: relative;
}

#teaser-1-text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

    #teaser-1-text-container > div {
        display: table;
        width: 100%;
        height: 100%;
    }

#teaser-1-text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 11%;
    color: #fff;
    text-shadow: rgba(0,0,0,0.87) 0.1em 0.1em 0.1em;
    font-size: 1rem;
}

    #teaser-1-text > h2 {
        color: #fff;
    }

    #teaser-1-text > a {
        margin-top: 3%;
        text-shadow: none;
        display: inline-block;
        font-size: 1rem;
    }

    #teaser-1-text > p {
        line-height: 1.5rem;
    }

#teaser-1 > img {
    width: 100%;
}

#menu {
    padding: 1.5rem 0;
}

    #menu > div {
        width: 25%;
        float: left;
    }

        #menu > div > a {
            display: block;
            width: 91%;
            background: #e3e3e2;
            height: 4rem;
            color: #5a5a5a;
        }

            #menu > div > a > span {
                display: table;
                height: 100%;
            }

                #menu > div > a > span > span {
                    display: table-cell;
                    vertical-align: middle;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    font-weight: 600;
                }

            #menu > div > a > i:first-child {
                display: block;
                float: left;
                line-height: 4rem;
                font-size: 2.8rem;
                color: #9B9B9B;
                padding: 0 0 0 1rem;
            }

                #menu > div > a > i:first-child + i {
                    display: block;
                    float: right;
                    line-height: 4rem;
                    color: #9B9B9B;
                    padding: 0 1rem 0 0;
                }

        #menu > div:last-child > a {
            width: 100%;
        }

#resources > a {
    padding-bottom: 1.3rem;
}

#resources {
    padding-bottom: 3rem;
}

#resources > img {
    float: right;
    width: 50%;
}

.content-container {
    padding: 1.5rem 1rem 0 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

.step {
    position: relative;
}

.left-column, .right-column {
    text-align: justify;
}

.left-column {
    float: left;
}

.right-column {
    float: right;
}

.media-right, .media-left {
    padding-bottom: 4rem;
}

    .media-right > .left-column {
        width: 60%;
    }

    .media-right > .right-column {
        padding-left: 2.5rem;
        width: 40%;
    }

    .media-left > .left-column {
        padding-right: 2.5rem;
        width: 40%;
    }

    .media-left > .right-column {
        width: 60%;
    }

.thumbnail-media {
    padding-top: 3rem;
}

.thumbnail {
    max-width: 170px;
    margin-right: 1.5rem;
    float: left;
    position: relative;
    cursor: pointer;
    border: 1px solid #BCB4B2;
    margin-bottom: 1rem;
}

    .thumbnail > i {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2rem;
        width: 2rem;
        font-size: 2rem;
        margin: auto;
        background-color: rgba(0,0,0,0.3);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        color: #FEFDFF;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
        -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    }

.polaroid {
    border: 3px solid #fff;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.btn {
    display: inline-block;
    background-color: #24b7f3;
    /* Cross browser support taken from MDN */
    background-image: -webkit-linear-gradient(top, #26B5ED, #1386A5); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: -moz-linear-gradient(top, #26B5ED, #1386A5); /* For Firefox (3.6 to 15) */
    background-image: linear-gradient(to bottom, #26B5ED, #1386A5); /* Standard syntax; must be last */
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: .6em .8em;
    min-width: 150px;
    text-align: center;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    color: #fff;
    white-space: nowrap !important;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'church' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.accordion {
    background-color: #EEEEEE;
    margin-bottom: 1rem;
    padding: 1rem;
}

    .accordion > .question {
        color: #009CD5;
        font-size: 1.2rem;
        width: 95%;
        position: relative;
    }

        .accordion > .question > i {
            position: absolute;
            top: 0;
            right: -5%;
            color: #9E9E9E;
            transition: transform 200ms ease;
            -webkit-transition: transform 200ms ease;
            cursor: pointer;
            -webkit-touch-callout: none !important;
            -webkit-user-select: none !important;
            -moz-user-select: none !important;
            -ms-user-select: none !important;
            user-select: none !important;
        }

    .accordion:focus > .question > i {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .accordion > .collapse {
        width: 90%;
        height: 0;
        overflow: hidden;
    }

    .accordion:focus > .collapse {
        height: auto;
        margin-top: .25rem;
    }

    .accordion:last-child {
        margin-bottom: 3rem;
    }

.clearfix:before,
.clearfix:after {
    display: table !important;
    line-height: 0 !important;
    content: "" !important;
}

.clearfix:after {
    clear: both !important;
}

.ellipsis {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.section {
    background-color: #F5F2EB;
}

.bold {
    font-weight: 600;
}


@media (min-width: 768px) and (max-width: 979px) {
    .hide-tablet {
        display: none !important;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 12px;
    }

    #teaser-1-text {
        vertical-align: top;
        padding-top: 2%;
        padding-left: 2%;
    }

    #menu > div {
        width: 100%;
        float: none;
    }

        #menu > div > a {
            width: 100%;
        }

    .left-column, .right-column {
        width: 100% !important;
    }

    .hide-phone {
        display: none !important;
    }
}

@media (max-width: 479px) {
    .hide-small-phone {
        display: none !important;
    }
}
